html, body {
    padding: 0;
    margin: 0;
}

.row{
    height: 100px;
    width: 100%;
}

.header {
    background-color: black;
    color: white;
}

.column {
    float: left;
    padding: 15px;
}

img {
    width: 200px;
    height: 85px;
    padding: 10px;
}


 .menu ul {
    width: 250%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: aquamarine;
}

.form-container {
   margin: 20px;
   padding: 0px;
   text-align: center;
   width: 100%;
}

.form-container p {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
}

input {
    width: 500px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid;
}

.subSignUp  {
    width: 200px;
    height: 40px;
    background-color: aquamarine;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.subSignUp:hover {
    background-color: rgb(119, 173, 173);
}
.form-container .errorMessage {
    font-size: 20px;
    color: red;

}
.form-container .or {
    font-size: 20px; 
    margin-bottom: 5px;
    font-weight: 300;
}

.form-container .login {
    display: none;
}


.loginBtn {
    width: 200px;
    height: 40px;
    background-color: aqua;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
